body {
    margin: 0;
    font-family: 'Lexend', sans-serif;
}

header {
    height: 64px;
    background: yellowgreen;
    display: flex;
    align-items: center;
    padding: 0 8px 0 8px;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}

header nav ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.nav-link {
    display: inline-block;
    padding: 0 16px 0 16px;
}

.nav-link a {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    background-color: lightgrey;
    border-radius: 4px;
}

.active {
    background-color: indianred;
    border-radius: 4px;
}
